:root {
    --nav-border-color: transparent;
    --dark-theme-pos: 0.2rem;
    font-family: "Mona Sans", "Mona Sans Fallback", sans-serif;
    font-size: 1dvw;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: #edf1f5;
}

/* Background stock image source: https://stock.adobe.com/images/website-header-or-banner-design-with-hexagons-pattern-geometric-abstract-background-with-simple-hexagonal-elements-medical-technology-or-science-design/276080724*/
header {
    text-align: center;
    background-image: url("assets/360_F_276080724_hltnCyDjcqAyRtLzDYo3T2jXbBtCD7fl.jpg");
    background-color: color-mix(in srgb, darkcyan, darkblue);
    background-size: cover;
    color: white;
    height: 5rem;
    padding-top: 2rem;
    & h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

footer {
    margin: 1rem;
    & p {
        margin-bottom: 0;
    }
}

nav {
    & a {
        color: black;
        text-decoration-line: none;
    }
    & table {
        width: 100%;
        border-collapse: collapse;
        border-color: var(--nav-border-color, transparent);
    }
    & th {
        /* border: 1px solid black; */
        height: 3em;
        width: 33%;
        background-color: gainsboro;
        text-align: center;
        border-color: var(--nav-border-color, transparent);
        transition: background-color 0.5s ease;
        &:hover {
            background-color: lightgray;
        }
    }
    & td {
        border-color: var(--nav-border-color, transparent);
    }
}

td {
    text-align: center;
}

h2 {
    &#intro-header {
        animation-duration: 3s;
        animation-name: h2slide;
        animation-fill-mode: forwards;
        opacity: 0%;
    }
    &#courses-header {
        animation-duration: 3s;
        animation-name: h2slide;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        opacity: 0%;
    }
    &#contact-header {
        margin-bottom: 0.5rem;
        animation-duration: 3s;
        animation-name: h2slide;
        animation-fill-mode: forwards;
        animation-delay: 7s;
        opacity: 0%;
    }
}

section {
    margin: 1rem;
    &#intro {
        max-width: 50%;
        & *:not(h2) {
            animation-duration: 3s;
            animation-name: fadein;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            opacity: 0%;
        }
    }
    &#courses {
        max-width: 50%;
        & h3 {
            animation-duration: 3s;
            animation-name: h3slide;
            animation-fill-mode: forwards;
            animation-delay: 3.5s;
            opacity: 0%;
        }
        & *:not(h2,h3) {
            animation-duration: 3s;
            animation-name: fadein;
            animation-fill-mode: forwards;
            animation-delay: 5.5s;
            opacity: 0%;
        }
    }
    &#contact-form-section {
        max-width: 50%;
        & *:not(h2) {
            animation-duration: 3s;
            animation-name: fadein;
            animation-fill-mode: forwards;
            animation-delay: 7.8s;
            opacity: 0%;
        }
    }
}

svg#initials-svg {
    animation-duration: 8s;
    animation-name: svgroll;
    animation-fill-mode: forwards;
}

video {
    max-width: 100%;
}

form {
    max-width: 100%;
    &#contact-form {
        & label#email-label, label#comments-label {
            margin-top: 0.5rem;
        }
        & label {
            display: block;
        }
    }
}

input.theme-toggle {
    height: 0;
    width: 0;
    opacity: 0%;
    &:checked + label{
        background-color: #00ccff;
        &:before {
            right: 0.2rem;
            transform: translateX(2.4rem);
        }
    }
}

label.theme-toggle {
    cursor: pointer;
    width: 4rem;
    height: 1.4rem;
    background-color: gray;
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0;
    &:before {
        content: "";
        position: absolute;
        top: 0.2rem;
        left: 0.3rem;
        width: 1rem;
        height: 1rem;
        background-color: white;
        transition: 0.3s;
    }
}

span {
    &.required-symbol {
        color: #c80815;
    }
}

div#theme-container {
    display: flex;
    align-content: stretch;
    & div.mode-symbol {
        margin-top: 1rem;
        margin-left: 0.5rem;
        &#sun-symbol {
            margin-left: 2.5rem;
        }
    }
}

output {
    font-style: italic;
    font-size: 0.8rem;
    transition: color 0.5s ease 2s;
    color: black;
}

p#required-field-info {
    font-style: italic;
    font-size: 0.8rem;
}

button#submit-button {
    margin-top: 0.5rem;
}

.form-error {
    color: transparent;
}

@starting-style {
    .form-error {
        color: black;
    }
}

@keyframes h2slide {
    from {
        margin-left: 10%;
        opacity: 0%;
    }
    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes h3slide {
    from {
        margin-left: 5%;
        opacity: 0%;
    }
    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes svgroll {
    from {
        margin-left: 0%;
        transform: rotate(0deg);
    }
    50% {
        margin-left: 50%;
        transform: rotate(360deg);
    }
    to {
        margin-left: 0%;
        transform: rotate(0deg);
    }
}

/*
Credit to Github for the open source Mona Sans font, the repository with the font can be found at
https://github.com/github/mona-sans. A guide to using the font can be found at
https://github.blog/2022-12-02-introducing-mona-sans-and-hubot-sans/.
*/
@font-face {
    font-family: 'Mona Sans';
    src:
        url('assets/Mona-Sans.woff2') format('woff2 supports variations'),
        url('assets/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Mona Sans Fallback';
    src: local(Arial);
}

@media only screen and (min-width: 250px) and (max-width: 1000px) {
    :root {
        font-size: 5vw;
    }
    textarea {
        width: 95%;
    }
    button {
        font-size: 5vw;
        padding: 0.35rem;
        margin-top: 1rem;
    }
    nav th{
        display: block;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    ol li {
        margin-left: 10vw;
    }
    audio {
        width: 100%;
    }
    iframe, source, img, video {
        max-width: 80%;
    }
    section {
        &#intro {
            max-width: 100%;
        }
        &#courses {
            max-width: 100%;
        }
    }
}
/*
.index-h2 {
    opacity: 0%;
}

h2.index-h2 {
    animation-duration: 3s;
    animation-name: basicslideup;
    animation-fill-mode: forwards;
}

h2#courses-header {
    animation-delay: 5s;
}

@keyframes basicslideup {
    from {
        margin-top: 10dvh;
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
*/