:root {
    --nav-border-color: transparent;
    font-family: "Mona Sans", "Mona Sans Fallback", sans-serif;
    font-size: 1dvw;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

/* Background stock image source: https://stock.adobe.com/images/website-header-or-banner-design-with-hexagons-pattern-geometric-abstract-background-with-simple-hexagonal-elements-medical-technology-or-science-design/276080724*/
header {
    text-align: center;
    background-image: url("assets/360_F_276080724_hltnCyDjcqAyRtLzDYo3T2jXbBtCD7fl.jpg");
    background-size: cover;
    color: white;
    height: 5rem;
    padding-top: 2rem;
    & h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

footer {
    margin: 1rem;
}

nav {
    & a {
        color: black;
    }
    & table {
        width: 100%;
        border-collapse: collapse;
        border-color: var(--nav-border-color, transparent);
    }
    & th {
        /* border: 1px solid black; */
        height: 3em;
        width: 33%;
        background-color: gainsboro;
        text-align: center;
        border-color: var(--nav-border-color, transparent);
        transition: background-color 0.5s ease;
        &:hover {
            background-color: lightgray;
        }
    }
    & td {
        border-color: var(--nav-border-color, transparent);
    }
}

td {
    text-align: center;
}

h2 {
    &#intro-header {
        animation-duration: 3s;
        animation-name: h2slide;
        animation-fill-mode: forwards;
        opacity: 0%;
    }
    &#courses-header {
        animation-duration: 3s;
        animation-name: h2slide;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        opacity: 0%;
    }
}

section {
    margin: 1rem;
    &#intro {
        /* background: scroll no-repeat right url("assets/lake.png"); */
        & *:not(h2) {
            animation-duration: 3s;
            animation-name: fadein;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            opacity: 0%;
        }
    }
    &#courses {
        & h3 {
            animation-duration: 3s;
            animation-name: h3slide;
            animation-fill-mode: forwards;
            animation-delay: 3.5s;
            opacity: 0%;
        }
        & *:not(h2,h3) {
            animation-duration: 3s;
            animation-name: fadein;
            animation-fill-mode: forwards;
            animation-delay: 5.5s;
            opacity: 0%;
        }
    }
}

svg#initials-svg {
    animation-duration: 8s;
    animation-name: svgroll;
    animation-fill-mode: forwards;
}

video, form {
    max-width: 100%;
}

@keyframes h2slide {
    from {
        margin-left: 10%;
        opacity: 0%;
    }
    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes h3slide {
    from {
        margin-left: 5%;
        opacity: 0%;
    }
    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes svgroll {
    from {
        margin-left: 0%;
        transform: rotate(0deg);
    }
    50% {
        margin-left: 50%;
        transform: rotate(360deg);
    }
    to {
        margin-left: 0%;
        transform: rotate(0deg);
    }
}

/*
Credit to Github for the open source Mona Sans font, the repository with the font can be found at
https://github.com/github/mona-sans. A guide to using the font can be found at
https://github.blog/2022-12-02-introducing-mona-sans-and-hubot-sans/.
*/
@font-face {
    font-family: 'Mona Sans';
    src:
        url('assets/Mona-Sans.woff2') format('woff2 supports variations'),
        url('assets/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Mona Sans Fallback';
    src: local(Arial);
}

@media only screen and (min-width: 250px) and (max-width: 1000px) {
    :root {
        font-size: 5vw;
    }
    textarea {
        width: 95%;
    }
    button {
        font-size: 5vw;
        padding: 0.35rem;
        margin-top: 1rem;
    }
    nav th{
        display: block;
        width: 100%;
    }
    ol li {
        margin-left: 10vw;
    }
    audio {
        width: 100%;
    }
    iframe, source, img, video {
        max-width: 80%;
    }
}
/*
.index-h2 {
    opacity: 0%;
}

h2.index-h2 {
    animation-duration: 3s;
    animation-name: basicslideup;
    animation-fill-mode: forwards;
}

h2#courses-header {
    animation-delay: 5s;
}

@keyframes basicslideup {
    from {
        margin-top: 10dvh;
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
*/